@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#footer {
    background: #f4f5f7;
}
#footer .copyright {
    border-top: 1px solid #DFE1E5;
}

hr.default {
    height: 1px;
    background: #DFE1E5;
}

.btn {
    @apply px-4;
    @apply py-2;
    @apply font-bold;
    @apply rounded;
    @apply font-normal;
}
.btn-primary {
    @apply text-white;
    background: #733959;
}
.btn-primary:hover {
    background: #4e263c;
}

.btn-secondary {
    color: #434343;
    background-color: #e5e7eb;
}

section.landing {
    background: url('../assets/landing-bg@2x.png');
}
section.landing .feature-bg-img {
    background: url('../assets/landing-img.png');
}

.step2-icon {
    font-size: 110px;
}
.fa-compact-disc.step2-icon {
    font-size: 90px;
}

.loading-screen {
    margin: 0 auto 0 auto;
}

.status {
    @apply col-span-1;
    @apply px-6;
    @apply py-1;
    @apply rounded;
}
.status.online {
    @apply text-white;
    @apply bg-green-700;
}
.status.offline {
    @apply text-white;
    @apply bg-red-700;
}
.status.players {
    @apply text-gray-800;
    @apply bg-gray-200;
}

.half-border {
    padding: 0 0 1.7ch 0;
    display: inline-block;
    position:relative;
}
.half-border:after{
    content:"";
    width:100%;
    height:4px;
    left:0;
    bottom:0;
    position:absolute;
    z-index:9;
    background:linear-gradient(to right, brown 50%, white 50%);
}

#steps2play-top-border {
    height:50px;
    background:#f4f5f78a;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
#steps2play-bottom-border {
    height:50px;
    background:#f4f5f78a;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}


