@import '../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../vendor/filament/**/*.blade.php';
@source '../../../app/Filament/**/*';
@source '../../../resources/views/filament/**/*';
